<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="Module_Burn_inTool.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="Module_Burn_inTool.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <startup> 
        
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5"/></startup>
    <userSettings>
        <Module_Burn_inTool.Properties.Settings>
            <setting name="MinBurnInTime" serializeAs="String">
                <value>30</value>
            </setting>
            <setting name="PowerMeter" serializeAs="String">
                <value>NONE</value>
            </setting>
            <setting name="PrimesPort" serializeAs="String">
                <value>COM2</value>
            </setting>
            <setting name="IgType" serializeAs="String">
                <value>IG243-9</value>
            </setting>
            <setting name="ModulePort" serializeAs="String">
                <value>COM1</value>
            </setting>
            <setting name="CalValue" serializeAs="String">
                <value>1.0</value>
            </setting>
            <setting name="MinPdDropIg243" serializeAs="String">
                <value>5</value>
            </setting>
            <setting name="MinPdDropIg337" serializeAs="String">
                <value>5</value>
            </setting>
            <setting name="PD3Monitoring" serializeAs="String">
                <value>60</value>
            </setting>
            <setting name="autoStartBrn" serializeAs="String">
                <value>3</value>
            </setting>
            <setting name="PD3Stabilization" serializeAs="String">
                <value>5</value>
            </setting>
            <setting name="PD3MaxTimeMonitoringCycle" serializeAs="String">
                <value>60</value>
            </setting>
            <setting name="averagingPD3" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="SetPD3Drop" serializeAs="String">
                <value>5</value>
            </setting>
            <setting name="TimeWaitPD3Check" serializeAs="String">
                <value>2</value>
            </setting>
            <setting name="logDirectory" serializeAs="String">
                <value>\\10.100.80.66\Modules\Stability modules logs\</value>
            </setting>
            <setting name="burnInCurrent" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="udMinDropPowerDrop" serializeAs="String">
                <value>25</value>
            </setting>
        </Module_Burn_inTool.Properties.Settings>
    </userSettings>
    <applicationSettings>
        <Module_Burn_inTool.Properties.Settings>
            <setting name="PowerMetersCalibrate" serializeAs="String">
                <value>False</value>
            </setting>
        </Module_Burn_inTool.Properties.Settings>
    </applicationSettings>
</configuration>
